<h1>Create Users</h1>
<?php
 	echo $this->Form->create($user);
 	//echo $this->Html->image('img_bk/cake.icon.png') ;
?>
<!--<form method="post" class="form-control" action="./users/create"> -->
	<div class="form-group"> 
		<label>Email</label>
		<input type="email" class="form-control" name="email" />
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" name = "password"/>
	</div>
	<button type="submit">Save</button>
<!--</form> -->