<h1>Edit users</h1>
<?php
 	echo $this->Form->create($user);
 //	echo $user->id ;
 	echo $this->Form->control('email');
 	echo $this->Form->control('password',['type' => 'password']) ;
 	echo $this->Form->button(__('Save')) ;
 	echo $this->Form->end() ;

?>

<!--</form> -->